# Data Manipulation

## `Dplyr`

In [4]:
??dplyr

In [5]:
install.packages("tidyverse")

also installing the dependencies ‘data.table’, ‘vroom’, ‘tzdb’, ‘progress’, ‘conflicted’, ‘dbplyr’, ‘dtplyr’, ‘forcats’, ‘haven’, ‘hms’, ‘ragg’, ‘readr’, ‘readxl’, ‘reprex’

trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/data.table_1.17.8.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/vroom_1.6.5.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/tzdb_0.5.0.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/progress_1.2.3.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/conflicted_1.2.0.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/dbplyr_2.5.1.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/dtplyr_1.3.2.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/forcats_1.0.0.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/haven_2.5.5.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/hms_1.1.3.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/ragg_1.5.0.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/readr_2.1.5.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/readxl_1.4.5.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/reprex_2.1.1.zip'
trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/tidyverse_2.0.0.zip'

package ‘data.table’ successfully unpacked and MD5 sums checked
package ‘vroom’ successfully unpacked and MD5 sums checked
package ‘tzdb’ successfully unpacked and MD5 sums checked
package ‘progress’ successfully unpacked and MD5 sums checked
package ‘conflicted’ successfully unpacked and MD5 sums checked
package ‘dbplyr’ successfully unpacked and MD5 sums checked
package ‘dtplyr’ successfully unpacked and MD5 sums checked
package ‘forcats’ successfully unpacked and MD5 sums checked
package ‘haven’ successfully unpacked and MD5 sums checked
package ‘hms’ successfully unpacked and MD5 sums checked
package ‘ragg’ successfully unpacked and MD5 sums checked
package ‘readr’ successfully unpacked and MD5 sums checked
package ‘readxl’ successfully unpacked and MD5 sums checked
package ‘reprex’ successfully unpacked and MD5 sums checked
package ‘tidyverse’ successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Yura\AppData\Local\Temp\RtmpMjek9z\downloaded_packages

In [6]:
library(tidyverse)

── Attaching core tidyverse packages ───────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.2
✔ ggplot2   3.5.2     ✔ tibble    3.3.0
✔ lubridate 1.9.4     ✔ tidyr     1.3.1
✔ purrr     1.1.0
── Conflicts ─────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the ]8;;http://conflicted.r-lib.org/conflicted package]8;; to force all conflicts to become errors

## Gapminder

In [14]:
install.packages("gapminder")

trying URL 'https://cran.rstudio.com/bin/windows/contrib/4.5/gapminder_1.0.1.zip'
Content type 'application/zip' length 2115437 bytes (2.0 MB)
downloaded 2.0 MB

package ‘gapminder’ successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\Yura\AppData\Local\Temp\RtmpMjek9z\downloaded_packages

In [15]:
library(gapminder)
data(gapminder)

In [17]:
?gapminder

In [18]:
str(gapminder)

tibble [1,704 × 6] (S3: tbl_df/tbl/data.frame)
 $ country  : Factor w/ 142 levels "Afghanistan",..: 1 1 1 1 1 1 1 1 1 1 ...
 $ continent: Factor w/ 5 levels "Africa","Americas",..: 3 3 3 3 3 3 3 3 3 3 ...
 $ year     : int [1:1704] 1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 ...
 $ lifeExp  : num [1:1704] 28.8 30.3 32 34 36.1 ...
 $ pop      : int [1:1704] 8425333 9240934 10267083 11537966 13079460 14880372 12881816 13867957 16317921 22227415 ...
 $ gdpPercap: num [1:1704] 779 821 853 836 740 ...

In [19]:
head(gapminder)

# A tibble: 6 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.
5 Afghanistan Asia       1972    36.1 13079460      740.
6 Afghanistan Asia       1977    38.4 14880372      786.

In [20]:
tail(gapminder)

# A tibble: 6 × 6
  country  continent  year lifeExp      pop gdpPercap
  <fct>    <fct>     <int>   <dbl>    <int>     <dbl>
1 Zimbabwe Africa     1982    60.4  7636524      789.
2 Zimbabwe Africa     1987    62.4  9216418      706.
3 Zimbabwe Africa     1992    60.4 10704340      693.
4 Zimbabwe Africa     1997    46.8 11404948      792.
5 Zimbabwe Africa     2002    40.0 11926563      672.
6 Zimbabwe Africa     2007    43.5 12311143      470.

In [21]:
austria <- filter(gapminder, country == "Austria")
austria

# A tibble: 12 × 6
   country continent  year lifeExp     pop gdpPercap
   <fct>   <fct>     <int>   <dbl>   <int>     <dbl>
 1 Austria Europe     1952    66.8 6927772     6137.
 2 Austria Europe     1957    67.5 6965860     8843.
 3 Austria Europe     1962    69.5 7129864    10751.
 4 Austria Europe     1967    70.1 7376998    12835.
 5 Austria Europe     1972    70.6 7544201    16662.
 6 Austria Europe     1977    72.2 7568430    19749.
 7 Austria Europe     1982    73.2 7574613    21597.
 8 Austria Europe     1987    74.9 7578903    23688.
 9 Austria Europe     1992    76.0 7914969    27042.
10 Austria Europe     1997    77.5 8069876    29096.
11 Austria Europe     2002    79.0 8148312    32418.
12 Austria Europe     2007    79.8 8199783    36126.

In [22]:
filter(gapminder, lifeExp < 33)

# A tibble: 17 × 6
   country       continent  year lifeExp      pop gdpPercap
   <fct>         <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan   Asia       1952    28.8  8425333      779.
 2 Afghanistan   Asia       1957    30.3  9240934      821.
 3 Afghanistan   Asia       1962    32.0 10267083      853.
 4 Angola        Africa     1952    30.0  4232095     3521.
 5 Angola        Africa     1957    32.0  4561361     3828.
 6 Burkina Faso  Africa     1952    32.0  4469979      543.
 7 Cambodia      Asia       1977    31.2  6978607      525.
 8 Gambia        Africa     1952    30     284320      485.
 9 Gambia        Africa     1957    32.1   323150      521.
10 Guinea-Bissau Africa     1952    32.5   580653      300.
11 Mozambique    Africa     1952    31.3  6446316      469.
12 Rwanda        Africa     1992    23.6  7290203      737.
13 Sierra Leone  Africa     1952    30.3  2143249      880.
14 Sierra Leone  Africa     1957    31.6  2295678     1004.
15 Sierra Leone  Africa     1962    32.8  2467895     1117.
16 Somalia       Africa     1952    33.0  2526994     1136.
17 Yemen, Rep.   Asia       1952    32.5  4963829      782.

In [23]:
filter(gapminder, country == "Austria", year > 1980 )

# A tibble: 6 × 6
  country continent  year lifeExp     pop gdpPercap
  <fct>   <fct>     <int>   <dbl>   <int>     <dbl>
1 Austria Europe     1982    73.2 7574613    21597.
2 Austria Europe     1987    74.9 7578903    23688.
3 Austria Europe     1992    76.0 7914969    27042.
4 Austria Europe     1997    77.5 8069876    29096.
5 Austria Europe     2002    79.0 8148312    32418.
6 Austria Europe     2007    79.8 8199783    36126.

In [27]:
filter(gapminder, year > 2000, country %in% c("Austria", "Belgium"))

# A tibble: 4 × 6
  country continent  year lifeExp      pop gdpPercap
  <fct>   <fct>     <int>   <dbl>    <int>     <dbl>
1 Austria Europe     2002    79.0  8148312    32418.
2 Austria Europe     2007    79.8  8199783    36126.
3 Belgium Europe     2002    78.3 10311970    30486.
4 Belgium Europe     2007    79.4 10392226    33693.

## Pipe

In [ ]:
%>% -> library(magritr)

: Error:
! unexpected SPECIAL in "%>%"

In [ ]:
|>

In [29]:
head(gapminder)

# A tibble: 6 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.
5 Afghanistan Asia       1972    36.1 13079460      740.
6 Afghanistan Asia       1977    38.4 14880372      786.

In [30]:
gapminder |> head()

# A tibble: 6 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.
5 Afghanistan Asia       1972    36.1 13079460      740.
6 Afghanistan Asia       1977    38.4 14880372      786.

In [31]:
gapminder |> head(4)

# A tibble: 4 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.

In [ ]:
austria <- gapminder |> 
  filter(country == "Austria")
austria

# A tibble: 12 × 6
   country continent  year lifeExp     pop gdpPercap
   <fct>   <fct>     <int>   <dbl>   <int>     <dbl>
 1 Austria Europe     1952    66.8 6927772     6137.
 2 Austria Europe     1957    67.5 6965860     8843.
 3 Austria Europe     1962    69.5 7129864    10751.
 4 Austria Europe     1967    70.1 7376998    12835.
 5 Austria Europe     1972    70.6 7544201    16662.
 6 Austria Europe     1977    72.2 7568430    19749.
 7 Austria Europe     1982    73.2 7574613    21597.
 8 Austria Europe     1987    74.9 7578903    23688.
 9 Austria Europe     1992    76.0 7914969    27042.
10 Austria Europe     1997    77.5 8069876    29096.
11 Austria Europe     2002    79.0 8148312    32418.
12 Austria Europe     2007    79.8 8199783    36126.

## `select()`

In [33]:
gapminder |>
  select(year, country, pop)

# A tibble: 1,704 × 3
    year country          pop
   <int> <fct>          <int>
 1  1952 Afghanistan  8425333
 2  1957 Afghanistan  9240934
 3  1962 Afghanistan 10267083
 4  1967 Afghanistan 11537966
 5  1972 Afghanistan 13079460
 6  1977 Afghanistan 14880372
 7  1982 Afghanistan 12881816
 8  1987 Afghanistan 13867957
 9  1992 Afghanistan 16317921
10  1997 Afghanistan 22227415
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [35]:
austria <- gapminder |> 
  filter(country == "Austria") |>
  select(year, country, pop) |>
  filter(year > 1980)
austria

# A tibble: 6 × 3
   year country     pop
  <int> <fct>     <int>
1  1982 Austria 7574613
2  1987 Austria 7578903
3  1992 Austria 7914969
4  1997 Austria 8069876
5  2002 Austria 8148312
6  2007 Austria 8199783

In [36]:
gapminder |>
  select(c(1,3:4))

# A tibble: 1,704 × 3
   country      year lifeExp
   <fct>       <int>   <dbl>
 1 Afghanistan  1952    28.8
 2 Afghanistan  1957    30.3
 3 Afghanistan  1962    32.0
 4 Afghanistan  1967    34.0
 5 Afghanistan  1972    36.1
 6 Afghanistan  1977    38.4
 7 Afghanistan  1982    39.9
 8 Afghanistan  1987    40.8
 9 Afghanistan  1992    41.7
10 Afghanistan  1997    41.8
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [38]:
gapminder |>
  select(where(is.numeric))

# A tibble: 1,704 × 4
    year lifeExp      pop gdpPercap
   <int>   <dbl>    <int>     <dbl>
 1  1952    28.8  8425333      779.
 2  1957    30.3  9240934      821.
 3  1962    32.0 10267083      853.
 4  1967    34.0 11537966      836.
 5  1972    36.1 13079460      740.
 6  1977    38.4 14880372      786.
 7  1982    39.9 12881816      978.
 8  1987    40.8 13867957      852.
 9  1992    41.7 16317921      649.
10  1997    41.8 22227415      635.
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [41]:
gapminder |>
  select(!where(is.numeric)) |>
  distinct()

# A tibble: 142 × 2
   country     continent
   <fct>       <fct>
 1 Afghanistan Asia
 2 Albania     Europe
 3 Algeria     Africa
 4 Angola      Africa
 5 Argentina   Americas
 6 Australia   Oceania
 7 Austria     Europe
 8 Bahrain     Asia
 9 Bangladesh  Asia
10 Belgium     Europe
# ℹ 132 more rows
# ℹ Use `print(n = ...)` to see more rows

## random

In [47]:
# seed
gapminder |>
  sample_n(5)

# A tibble: 5 × 6
  country            continent  year lifeExp      pop gdpPercap
  <fct>              <fct>     <int>   <dbl>    <int>     <dbl>
1 Argentina          Americas   1992    71.9 33958947     9308.
2 Dominican Republic Americas   1967    56.8  4049146     1654.
3 Gabon              Africa     2002    56.8  1299304    12522.
4 Djibouti           Africa     1972    44.4   178848     3694.
5 Ethiopia           Africa     1972    43.5 30770372      566.

In [49]:
gapminder |>
  sample_frac(0.1)

# A tibble: 170 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Burundi          Africa     1982    47.5   4580410      560.
 2 Bulgaria         Europe     2002    72.1   7661799     7697.
 3 Costa Rica       Americas   1972    67.8   1834796     5118.
 4 Australia        Oceania    2007    81.2  20434176    34435.
 5 Thailand         Asia       1957    53.6  25041917      794.
 6 Ghana            Africa     1962    46.5   7355248     1190.
 7 Bangladesh       Asia       1987    52.8 103764241      752.
 8 Djibouti         Africa     1957    37.3     71851     2865.
 9 Saudi Arabia     Asia       1972    53.9   6472756    24837.
10 Hong Kong, China Asia       1987    76.2   5584510    20038.
# ℹ 160 more rows
# ℹ Use `print(n = ...)` to see more rows

## slice

In [52]:
gapminder |> slice(1:10)

# A tibble: 10 × 6
   country     continent  year lifeExp      pop gdpPercap
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.
 2 Afghanistan Asia       1957    30.3  9240934      821.
 3 Afghanistan Asia       1962    32.0 10267083      853.
 4 Afghanistan Asia       1967    34.0 11537966      836.
 5 Afghanistan Asia       1972    36.1 13079460      740.
 6 Afghanistan Asia       1977    38.4 14880372      786.
 7 Afghanistan Asia       1982    39.9 12881816      978.
 8 Afghanistan Asia       1987    40.8 13867957      852.
 9 Afghanistan Asia       1992    41.7 16317921      649.
10 Afghanistan Asia       1997    41.8 22227415      635.

In [54]:
gapminder |> slice_head(n = 10)

# A tibble: 10 × 6
   country     continent  year lifeExp      pop gdpPercap
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.
 2 Afghanistan Asia       1957    30.3  9240934      821.
 3 Afghanistan Asia       1962    32.0 10267083      853.
 4 Afghanistan Asia       1967    34.0 11537966      836.
 5 Afghanistan Asia       1972    36.1 13079460      740.
 6 Afghanistan Asia       1977    38.4 14880372      786.
 7 Afghanistan Asia       1982    39.9 12881816      978.
 8 Afghanistan Asia       1987    40.8 13867957      852.
 9 Afghanistan Asia       1992    41.7 16317921      649.
10 Afghanistan Asia       1997    41.8 22227415      635.

In [55]:
gapminder |> slice_tail(n = 10)

# A tibble: 10 × 6
   country  continent  year lifeExp      pop gdpPercap
   <fct>    <fct>     <int>   <dbl>    <int>     <dbl>
 1 Zimbabwe Africa     1962    52.4  4277736      527.
 2 Zimbabwe Africa     1967    54.0  4995432      570.
 3 Zimbabwe Africa     1972    55.6  5861135      799.
 4 Zimbabwe Africa     1977    57.7  6642107      686.
 5 Zimbabwe Africa     1982    60.4  7636524      789.
 6 Zimbabwe Africa     1987    62.4  9216418      706.
 7 Zimbabwe Africa     1992    60.4 10704340      693.
 8 Zimbabwe Africa     1997    46.8 11404948      792.
 9 Zimbabwe Africa     2002    40.0 11926563      672.
10 Zimbabwe Africa     2007    43.5 12311143      470.

In [56]:
gapminder |> filter(year == 2007) |> slice_tail(n = 10)

# A tibble: 10 × 6
   country            continent  year lifeExp       pop gdpPercap
   <fct>              <fct>     <int>   <dbl>     <int>     <dbl>
 1 Uganda             Africa     2007    51.5  29170398     1056.
 2 United Kingdom     Europe     2007    79.4  60776238    33203.
 3 United States      Americas   2007    78.2 301139947    42952.
 4 Uruguay            Americas   2007    76.4   3447496    10611.
 5 Venezuela          Americas   2007    73.7  26084662    11416.
 6 Vietnam            Asia       2007    74.2  85262356     2442.
 7 West Bank and Gaza Asia       2007    73.4   4018332     3025.
 8 Yemen, Rep.        Asia       2007    62.7  22211743     2281.
 9 Zambia             Africa     2007    42.4  11746035     1271.
10 Zimbabwe           Africa     2007    43.5  12311143      470.

In [57]:
gapminder |>
  slice_sample(n = 3)

# A tibble: 3 × 6
  country continent  year lifeExp      pop gdpPercap
  <fct>   <fct>     <int>   <dbl>    <int>     <dbl>
1 Turkey  Europe     1977    59.5 42404033     4269.
2 Kenya   Africa     1967    50.7 10191512     1057.
3 Vietnam Asia       1967    47.8 39463910      637.

In [58]:
gapminder |> slice_max(lifeExp, n = 5)

# A tibble: 5 × 6
  country          continent  year lifeExp       pop gdpPercap
  <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
1 Japan            Asia       2007    82.6 127467972    31656.
2 Hong Kong, China Asia       2007    82.2   6980412    39725.
3 Japan            Asia       2002    82   127065841    28605.
4 Iceland          Europe     2007    81.8    301931    36181.
5 Switzerland      Europe     2007    81.7   7554661    37506.

In [59]:
gapminder |> slice_min(lifeExp, n = 5)

# A tibble: 5 × 6
  country      continent  year lifeExp     pop gdpPercap
  <fct>        <fct>     <int>   <dbl>   <int>     <dbl>
1 Rwanda       Africa     1992    23.6 7290203      737.
2 Afghanistan  Asia       1952    28.8 8425333      779.
3 Gambia       Africa     1952    30    284320      485.
4 Angola       Africa     1952    30.0 4232095     3521.
5 Sierra Leone Africa     1952    30.3 2143249      880.

## arrange

In [60]:
data2002 <- gapminder |>
  filter(year == 2002) |>
  top_n(10, lifeExp)
data2002

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Australia        Oceania    2002    80.4  19546792    30688.
 2 Canada           Americas   2002    79.8  31902268    33329.
 3 Hong Kong, China Asia       2002    81.5   6762476    30209.
 4 Iceland          Europe     2002    80.5    288030    31163.
 5 Israel           Asia       2002    79.7   6029529    21906.
 6 Italy            Europe     2002    80.2  57926999    27968.
 7 Japan            Asia       2002    82   127065841    28605.
 8 Spain            Europe     2002    79.8  40152517    24835.
 9 Sweden           Europe     2002    80.0   8954175    29342.
10 Switzerland      Europe     2002    80.6   7361757    34481.

In [61]:
data2002 |>
  arrange(lifeExp)

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Israel           Asia       2002    79.7   6029529    21906.
 2 Canada           Americas   2002    79.8  31902268    33329.
 3 Spain            Europe     2002    79.8  40152517    24835.
 4 Sweden           Europe     2002    80.0   8954175    29342.
 5 Italy            Europe     2002    80.2  57926999    27968.
 6 Australia        Oceania    2002    80.4  19546792    30688.
 7 Iceland          Europe     2002    80.5    288030    31163.
 8 Switzerland      Europe     2002    80.6   7361757    34481.
 9 Hong Kong, China Asia       2002    81.5   6762476    30209.
10 Japan            Asia       2002    82   127065841    28605.

In [62]:
data2002 |>
  arrange(desc(lifeExp))

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Japan            Asia       2002    82   127065841    28605.
 2 Hong Kong, China Asia       2002    81.5   6762476    30209.
 3 Switzerland      Europe     2002    80.6   7361757    34481.
 4 Iceland          Europe     2002    80.5    288030    31163.
 5 Australia        Oceania    2002    80.4  19546792    30688.
 6 Italy            Europe     2002    80.2  57926999    27968.
 7 Sweden           Europe     2002    80.0   8954175    29342.
 8 Spain            Europe     2002    79.8  40152517    24835.
 9 Canada           Americas   2002    79.8  31902268    33329.
10 Israel           Asia       2002    79.7   6029529    21906.

In [64]:
data2002 |>
  arrange(pop, lifeExp)

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Iceland          Europe     2002    80.5    288030    31163.
 2 Israel           Asia       2002    79.7   6029529    21906.
 3 Hong Kong, China Asia       2002    81.5   6762476    30209.
 4 Switzerland      Europe     2002    80.6   7361757    34481.
 5 Sweden           Europe     2002    80.0   8954175    29342.
 6 Australia        Oceania    2002    80.4  19546792    30688.
 7 Canada           Americas   2002    79.8  31902268    33329.
 8 Spain            Europe     2002    79.8  40152517    24835.
 9 Italy            Europe     2002    80.2  57926999    27968.
10 Japan            Asia       2002    82   127065841    28605.

## matate

In [69]:
gapminder |> 
  mutate(gdpTotal = gdpPercap + pop) |>
  head(10)

# A tibble: 10 × 7
   country     continent  year lifeExp      pop gdpPercap  gdpTotal
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.  8426112.
 2 Afghanistan Asia       1957    30.3  9240934      821.  9241755.
 3 Afghanistan Asia       1962    32.0 10267083      853. 10267936.
 4 Afghanistan Asia       1967    34.0 11537966      836. 11538802.
 5 Afghanistan Asia       1972    36.1 13079460      740. 13080200.
 6 Afghanistan Asia       1977    38.4 14880372      786. 14881158.
 7 Afghanistan Asia       1982    39.9 12881816      978. 12882794.
 8 Afghanistan Asia       1987    40.8 13867957      852. 13868809.
 9 Afghanistan Asia       1992    41.7 16317921      649. 16318570.
10 Afghanistan Asia       1997    41.8 22227415      635. 22228050.

In [66]:
gapminder |>
    transmute(gdpTotal = gdpPercap * pop) |>
    head(10)

# A tibble: 10 × 1
       gdpTotal
          <dbl>
 1  6567086330.
 2  7585448670.
 3  8758855797.
 4  9648014150.
 5  9678553274.
 6 11697659231.
 7 12598563401.
 8 11820990309.
 9 10595901589.
10 14121995875.

In [70]:
gapminder |>
  mutate(gdpTotal = gdpPercap * pop,
        countryU = toupper(country),
        lifeExpR = round(lifeExp)) |>
          head(10)

# A tibble: 10 × 9
   country     continent  year lifeExp      pop gdpPercap     gdpTotal countryU    lifeExpR
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>        <dbl> <chr>          <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.  6567086330. AFGHANISTAN       29
 2 Afghanistan Asia       1957    30.3  9240934      821.  7585448670. AFGHANISTAN       30
 3 Afghanistan Asia       1962    32.0 10267083      853.  8758855797. AFGHANISTAN       32
 4 Afghanistan Asia       1967    34.0 11537966      836.  9648014150. AFGHANISTAN       34
 5 Afghanistan Asia       1972    36.1 13079460      740.  9678553274. AFGHANISTAN       36
 6 Afghanistan Asia       1977    38.4 14880372      786. 11697659231. AFGHANISTAN       38
 7 Afghanistan Asia       1982    39.9 12881816      978. 12598563401. AFGHANISTAN       40
 8 Afghanistan Asia       1987    40.8 13867957      852. 11820990309. AFGHANISTAN       41
 9 Afghanistan Asia       1992    41.7 16317921      649. 10595901589. AFGHANISTAN       42
10 Afghanistan Asia       1997    41.8 22227415      635. 14121995875. AFGHANISTAN       42

In [74]:
gapminder |>
  mutate(continent = as.character(continent),
        continent = ifelse(continent == "Europe", "EU", continent)) |>
        filter(continent == "EU") |>
          head()

# A tibble: 6 × 6
  country continent  year lifeExp     pop gdpPercap
  <fct>   <chr>     <int>   <dbl>   <int>     <dbl>
1 Albania EU         1952    55.2 1282697     1601.
2 Albania EU         1957    59.3 1476505     1942.
3 Albania EU         1962    64.8 1728137     2313.
4 Albania EU         1967    66.2 1984060     2760.
5 Albania EU         1972    67.7 2263554     3313.
6 Albania EU         1977    68.9 2509048     3533.

## rename

In [78]:
gapminder

# A tibble: 1,704 × 6
   country     continent  year lifeExp      pop gdpPercap
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.
 2 Afghanistan Asia       1957    30.3  9240934      821.
 3 Afghanistan Asia       1962    32.0 10267083      853.
 4 Afghanistan Asia       1967    34.0 11537966      836.
 5 Afghanistan Asia       1972    36.1 13079460      740.
 6 Afghanistan Asia       1977    38.4 14880372      786.
 7 Afghanistan Asia       1982    39.9 12881816      978.
 8 Afghanistan Asia       1987    40.8 13867957      852.
 9 Afghanistan Asia       1992    41.7 16317921      649.
10 Afghanistan Asia       1997    41.8 22227415      635.
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [79]:
gapminder |>
  rename(population = pop) |>
  head()

# A tibble: 6 × 6
  country     continent  year lifeExp population gdpPercap
  <fct>       <fct>     <int>   <dbl>      <int>     <dbl>
1 Afghanistan Asia       1952    28.8    8425333      779.
2 Afghanistan Asia       1957    30.3    9240934      821.
3 Afghanistan Asia       1962    32.0   10267083      853.
4 Afghanistan Asia       1967    34.0   11537966      836.
5 Afghanistan Asia       1972    36.1   13079460      740.
6 Afghanistan Asia       1977    38.4   14880372      786.

## grouping

In [ ]:
## for 2002 avg lifeExp by continent + calculate countries count

In [80]:
gapminder |>
  filter(year == 2002) |>
  group_by(continent) |>
  summarise(
    lifeExp2002 = mean(lifeExp),
    countriesCount = n()
  )

# A tibble: 5 × 3
  continent lifeExp2002 countriesCount
  <fct>           <dbl>          <int>
1 Africa           53.3             52
2 Americas         72.4             25
3 Asia             69.2             33
4 Europe           76.7             30
5 Oceania          79.7              2

In [81]:
gapminder |>
  filter(year == 2002) |>
  group_by(continent) |>
  summarise(
    lifeExp2002 = mean(lifeExp),
    countriesCount = n(),
    totalPop = sum(pop)
  )

# A tibble: 5 × 4
  continent lifeExp2002 countriesCount   totalPop
  <fct>           <dbl>          <int>      <dbl>
1 Africa           53.3             52  833723916
2 Americas         72.4             25  849772762
3 Asia             69.2             33 3601802203
4 Europe           76.7             30  578223869
5 Oceania          79.7              2   23454829

In [84]:
data = gapminder |>
  filter(year == 2002) |>
  group_by(continent) |>
  summarise(
    lifeExp2002 = mean(lifeExp),
    countriesCount = n(),
    totalPop = sum(pop)
  ) |>
    mutate(percPop = round(100*totalPop/sum(gapminder |> filter(year == 2002) |> select(pop) |> sum()), 2))

In [85]:
data |> select(percPop) |> sum()

[1] 99.99

## binding

In [86]:
d2002 <- gapminder |>
            filter(year == 2002) %>% 
            group_by(continent, year) %>% 
            summarise(
                lifeExpAvg = mean(lifeExp),
                countriesCount = n()
            )
head(d2002)

`summarise()` has grouped output by 'continent'. You can override using the `.groups` argument.

# A tibble: 5 × 4
# Groups:   continent [5]
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2002       53.3             52
2 Americas   2002       72.4             25
3 Asia       2002       69.2             33
4 Europe     2002       76.7             30
5 Oceania    2002       79.7              2

In [87]:
d2007 <- gapminder |>
            filter(year == 2007) %>% 
            group_by(continent, year) %>% 
            summarise(
                lifeExpAvg = mean(lifeExp),
                countriesCount = n()
            )
head(d2007)

`summarise()` has grouped output by 'continent'. You can override using the `.groups` argument.

# A tibble: 5 × 4
# Groups:   continent [5]
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2007       54.8             52
2 Americas   2007       73.6             25
3 Asia       2007       70.7             33
4 Europe     2007       77.6             30
5 Oceania    2007       80.7              2

In [88]:
d2002 |> bind_rows(d2007)

# A tibble: 10 × 4
# Groups:   continent [5]
   continent  year lifeExpAvg countriesCount
   <fct>     <int>      <dbl>          <int>
 1 Africa     2002       53.3             52
 2 Americas   2002       72.4             25
 3 Asia       2002       69.2             33
 4 Europe     2002       76.7             30
 5 Oceania    2002       79.7              2
 6 Africa     2007       54.8             52
 7 Americas   2007       73.6             25
 8 Asia       2007       70.7             33
 9 Europe     2007       77.6             30
10 Oceania    2007       80.7              2

In [89]:
head(d2002)

# A tibble: 5 × 4
# Groups:   continent [5]
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2002       53.3             52
2 Americas   2002       72.4             25
3 Asia       2002       69.2             33
4 Europe     2002       76.7             30
5 Oceania    2002       79.7              2

In [90]:
d2002_new <- gapminder |>
  filter(year == 2002) %>% 
        group_by(continent, year) %>% 
        summarise(
            population = sum(pop),
        )
d2002_new

`summarise()` has grouped output by 'continent'. You can override using the `.groups` argument.

# A tibble: 5 × 3
# Groups:   continent [5]
  continent  year population
  <fct>     <int>      <dbl>
1 Africa     2002  833723916
2 Americas   2002  849772762
3 Asia       2002 3601802203
4 Europe     2002  578223869
5 Oceania    2002   23454829

In [100]:
d2002_new |> select(-c(continent, year))

Adding missing grouping variables: `continent`

# A tibble: 5 × 2
# Groups:   continent [5]
  continent population
  <fct>          <dbl>
1 Africa     833723916
2 Americas   849772762
3 Asia      3601802203
4 Europe     578223869
5 Oceania     23454829

In [ ]:
d2002 |> bind_cols(d2002_new |> dplyr::select(-continent, -year)) |>
  select(-continent...5) |>
  rename(continent = continent...1)

Adding missing grouping variables: `continent`
New names:
• `continent` -> `continent...1`
• `continent` -> `continent...5`

# A tibble: 5 × 6
  continent...1  year lifeExpAvg countriesCount continent...5 population
  <fct>         <int>      <dbl>          <int> <fct>              <dbl>
1 Africa         2002       53.3             52 Africa         833723916
2 Americas       2002       72.4             25 Americas       849772762
3 Asia           2002       69.2             33 Asia          3601802203
4 Europe         2002       76.7             30 Europe         578223869
5 Oceania        2002       79.7              2 Oceania         23454829

In [107]:
d2002_new <- d2002_new |>
  arrange(population)
d2002_new

# A tibble: 5 × 3
# Groups:   continent [5]
  continent  year population
  <fct>     <int>      <dbl>
1 Oceania    2002   23454829
2 Europe     2002  578223869
3 Africa     2002  833723916
4 Americas   2002  849772762
5 Asia       2002 3601802203

In [108]:
d2002 |> bind_cols(d2002_new |> dplyr::select(-continent, -year)) |>
  select(-continent...5) |>
  rename(continent = continent...1)

Adding missing grouping variables: `continent`
New names:
• `continent` -> `continent...1`
• `continent` -> `continent...5`

# A tibble: 5 × 5
  continent  year lifeExpAvg countriesCount population
  <fct>     <int>      <dbl>          <int>      <dbl>
1 Africa     2002       53.3             52   23454829
2 Americas   2002       72.4             25  578223869
3 Asia       2002       69.2             33  833723916
4 Europe     2002       76.7             30  849772762
5 Oceania    2002       79.7              2 3601802203

## join

In [109]:
d2002 <- gapminder %>%
            filter(year == 2002) %>% # year
            group_by(continent, year) %>% # grouping condition
            summarise(
                lifeExpAvg = mean(lifeExp),
                countriesCount = n(), # n() count of rows in group 
                .groups = 'drop'
            )
d2002 |> head()

# A tibble: 5 × 4
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2002       53.3             52
2 Americas   2002       72.4             25
3 Asia       2002       69.2             33
4 Europe     2002       76.7             30
5 Oceania    2002       79.7              2

In [116]:
grouped_data2002pop <- gapminder %>%
    filter(year == 2002) %>% 
    group_by(continent, year) %>% 
    summarise(totalPop = sum(pop)) |>
    arrange(totalPop) |> select(-year)

grouped_data2002pop |> head()

`summarise()` has grouped output by 'continent'. You can override using the `.groups` argument.

# A tibble: 5 × 2
# Groups:   continent [5]
  continent   totalPop
  <fct>          <dbl>
1 Oceania     23454829
2 Europe     578223869
3 Africa     833723916
4 Americas   849772762
5 Asia      3601802203

In [ ]:
joined_table <- d2002 |>
  left_join(grouped_data2002pop, by = "continent")
joined_table

# A tibble: 5 × 5
  continent  year lifeExpAvg countriesCount   totalPop
  <fct>     <int>      <dbl>          <int>      <dbl>
1 Africa     2002       53.3             52  833723916
2 Americas   2002       72.4             25  849772762
3 Asia       2002       69.2             33 3601802203
4 Europe     2002       76.7             30  578223869
5 Oceania    2002       79.7              2   23454829