# Заголовок документа

## Розділ 1
### Підрозділ 1.1.
####
#####
######

_Lorem Ipsum_ - це текст-"риба", $x^2+c=5$ що використовується в **друкарстві та дизайні**. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя, коли невідомий друкар взяв шрифтову гранку та склав на ній підбірку зразків шрифтів. "Риба" не тільки успішно пережила п'ять століть, але й прижилася в електронному верстуванні, залишаючись по суті незмінною. Вона популяризувалась в 60-их роках минулого сторіччя завдяки виданню зразків шрифтів Letraset, які містили уривки з Lorem Ipsum, і вдруге - нещодавно завдяки програмам комп'ютерного верстування на кшталт Aldus Pagemaker, які використовували різні версії Lorem Ipsum.

![Data Analysis](https://learnerbits.com/wp-content/uploads/2023/10/data-analysis-1024x576.webp)

In [1]:
data <- read.csv("source/data.csv")

Warning message in read.table(file = file, header = header, sep = sep, quote = quote, :
"incomplete final line found by readTableHeader on 'source/data.csv'"

In [2]:
data

  id client_name amount
1 1  John         254
2 2  Olha         147
3 3  Ivan        4784

In [3]:
data[max(data$amount) == data$amount, ]

  id client_name amount
3 3  Ivan        4784