# Читання даних з веб-сторінок

In [3]:
# install.packages("rvest")

In [5]:
library(rvest)

In [25]:
url <- "https://en.wikipedia.org/wiki/List_of_banks_in_Europe"
url

[1] "https://en.wikipedia.org/wiki/List_of_banks_in_Europe"

In [26]:
page <- read_html(url)
page

{html_document}
<html class="client-nojs vector-feature-language-in-header-enabled vector-feature-language-in-main-page-header-disabled vector-feature-sticky-header-disabled vector-feature-page-tools-pinned-disabled vector-feature-toc-pinned-clientpref-1 vector-feature-main-menu-pinned-disabled vector-feature-limited-width-clientpref-1 vector-feature-limited-width-content-enabled vector-feature-custom-font-size-clientpref-0 vector-feature-client-preferences-disabled vector-feature-client-prefs-pinned-disabled vector-feature-night-mode-disabled skin-night-mode-clientpref-0 vector-toc-available" lang="en" dir="ltr">
[1] <head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 ...
[2] <body class="skin-vector skin-vector-search-vue mediawiki ltr sitedir-ltr ...

In [27]:
tables <- html_nodes(page, "table")
tables

{xml_nodeset (1)}
[1] <table class="wikitable sortable"><tbody>\n<tr style="background: #ececec ...

In [28]:
table1 <- as.data.frame(html_table(tables[1]), fill = T)
table1

   Rank Bank                            Total.assets..billions.of.US.dollars.
1   1   HSBC                            2,864.59
2   2   BNP Paribas                     2,849.61
3   3   Credit Agricole                 2,542.61
4   4   Banco Santander                 1,853.86
5   5   Barclays                        1,823.84
6   6   UBS                             1,679.36
7   7   Groupe BPCE                     1,636.65
8   8   Societe Generale                1,588.99
9   9   Deutsche Bank                   1,428.65
10 10   Credit Mutuel Group             1,180.22
11 11   Lloyds Banking Group            1,057.69
12 12   Intesa Sanpaolo                 1,042.73
13 13   ING Group                       1,034.32
14 14   UniCredit                       916.72
15 15   NatWest Group                   867.59
16 16   Standard Chartered              819.92
17 17   La Banque Postale               796.88
18 18   Banco Bilbao Vizcaya Argentaria 762.15
19 19   Rabobank                        671.70
20 20   DZ Bank                         670.13
   Headquarter.city
1  London
2  Paris
3  Paris
4  Santander (legal); Madrid (operations)
5  London
6  Zurich
7  Paris
8  Paris
9  Frankfurt
10 Strasbourg
11 Edinburgh (legal);  London (operations)
12 Turin
13 Amsterdam
14 Milan
15 Edinburgh
16 London (legal); Shanghai (operations)
17 Paris
18 Bilbao (legal);  Madrid (operations)
19 Utrecht
20 Frankfurt

In [29]:
colnames(table1) <- c("Rank", "Name", "TotalAssets", "Headquarter")

In [31]:
table1$Name

 [1] "HSBC"                            "BNP Paribas"
 [3] "Credit Agricole"                 "Banco Santander"
 [5] "Barclays"                        "UBS"
 [7] "Groupe BPCE"                     "Societe Generale"
 [9] "Deutsche Bank"                   "Credit Mutuel Group"
[11] "Lloyds Banking Group"            "Intesa Sanpaolo"
[13] "ING Group"                       "UniCredit"
[15] "NatWest Group"                   "Standard Chartered"
[17] "La Banque Postale"               "Banco Bilbao Vizcaya Argentaria"
[19] "Rabobank"                        "DZ Bank"

In [33]:
library(stringr)

In [36]:
table1$TotalAssets <- as.numeric(gsub(",","" , table1$TotalAssets))

In [37]:
mean(table1$TotalAssets)

[1] 1404.41

In [24]:
table2 <- as.data.frame(html_table(tables[2]), fill = T)
table2 |> head()

  Rank Bank.name
1 1    Industrial and Commercial Bank of China Limited
2 2    China Construction Bank
3 3    Agricultural Bank of China
4 4    Bank of China
5 5    JPMorgan Chase
6 6    Bank of America
  Total.assets.2022..US..billion.
1 5,742.86
2 5,016.81
3 4,919.03
4 4,192.12
5 3,736.62
6 3,100.02