## Data from web

In [84]:
# install.packages("rvest")

In [1]:
library(rvest)

In [13]:
url <- "https://www.transfermarkt.com/wettbewerbe/fifa"

In [14]:
page <- read_html(url)
page

{html_document}
<html lang="en">
[1] <head>\n<meta http-equiv="Content-Type" content="text/html; charset=UTF-8 ...
[2] <body class="" itemscope itemtype="http://schema.org/WebPage" data-tm-tld ...

In [15]:
tables <- html_nodes(page, "table")
tables

{xml_nodeset (1)}
[1] <table class="items">\n<thead><tr>\n<th class="zentriert" id="yw1_c0"><a  ...

In [16]:
data <- data.frame(html_table(tables[1]))

In [18]:
data

   X. Nation      Squad.size Avg..age Total.value Confederation Points
1   1 Argentina   24         26.8     \210727.70m    CONMEBOL      1855
2   2 France      23         26.2     \2101.22bn     UEFA          1845
3   3 England     28         25.9     \2101.47bn     UEFA          1800
4   4 Belgium     25         25.8     \210535.80m    UEFA          1798
5   5 Brazil      26         25.3     \210927.10m    CONMEBOL      1784
6   6 Netherlands 22         27.1     \210597.00m    UEFA          1745
7   7 Portugal    32         26.6     \2101.06bn     UEFA          1745
8   8 Spain       26         26.7     \210896.00m    UEFA          1733
9   9 Italy       28         26.0     \210757.00m    UEFA          1719
10 10 Croatia     23         27.6     \210278.00m    UEFA          1718
11 11 Uruguay     27         25.1     \210408.20m    CONMEBOL      1666
12 12 Morocco     24         25.2     \210321.40m    CAF           1663
13 13 USA         23         24.4     \210311.50m    CONCACAF      1662
14 14 Colombia    26         26.8     \210223.50m    CONMEBOL      1655
15 15 Mexico      23         27.0     \210210.00m    CONCACAF      1653
16 16 Germany     23         28.2     \210628.00m    UEFA          1631
17 17 Senegal     29         26.6     \210289.40m    CAF           1621
18 18 Japan       23         26.4     \210225.20m    AFC           1614
19 19 Switzerland 26         27.6     \210229.70m    UEFA          1613
20 20 Iran        29         26.3     \21048.98m     AFC           1608
21 21 Denmark     25         26.4     \210371.50m    UEFA          1601
22 22 South Korea 23         28.0     \210168.30m    AFC           1566
23 23 Australia   22         26.7     \21031.10m     AFC           1555
24 24 Ukraine     28         25.5     \210354.50m    UEFA          1553
25 25 Austria     26         25.5     \210273.80m    UEFA          1546

In [101]:
colnames(data) <- c("Rank", "Name", "MarketCap")

In [103]:
head(data)

  Rank Name                                    MarketCap
1 1    JPMorgan Chase                          491.76
2 2    Bank of America                         266.45
3 3    Industrial and Commercial Bank of China 219.45
4 4    Wells Fargo                             178.74
5 5    Agricultural Bank of China              175.69
6 6    HDFC Bank                               169.84

In [104]:
range(data$MarketCap)

[1] 150.39 491.76