# Дослідження ринку рибок!

## 1. Зчитування даних

In [5]:
getwd()

[1] "d:/Fldr/Repos/edu-r/DM"

In [3]:
data <- read.csv("c:/Users/User/data/Fish.csv")

In [9]:
head(data)

  Species Weight Length1 Length2 Length3 Height  Width
1 Bream   242    23.2    25.4    30.0    11.5200 4.0200
2 Bream   290    24.0    26.3    31.2    12.4800 4.3056
3 Bream   340    23.9    26.5    31.1    12.3778 4.6961
4 Bream   363    26.3    29.0    33.5    12.7300 4.4555
5 Bream   430    26.5    29.0    34.0    12.4440 5.1340
6 Bream   450    26.8    29.7    34.7    13.6024 4.9274

1. Знайти найтяжчу рибу

In [18]:
max_weight <- max(data$Weight)
data[data$Weight == max_weight,]

    Species Weight Length1 Length2 Length3 Height Width
145 Pike    1650   59      63.4    68      10.812 7.48

![Pike](https://assets.wired2fish.com/uploads/2023/06/big-nothern-pike.webp)

2. Знайти найлегшу рибу, вага якої не == 0

In [19]:
data_no_0 <- data[data$Weight > 0,]
min_weight <- min(data_no_0$Weight)
data[data$Weight == min_weight,]

   Species Weight Length1 Length2 Length3 Height Width
73 Perch   5.9    7.5     8.4     8.8     2.112  1.408

![Pike](https://fishingbooker-prod-blog-backup.s3.amazonaws.com/blog/media/2023/12/22200048/1-2.jpeg)

3. Знайти найдовшу рибу

In [16]:
max_width<- max(data$Width)
data[data$Width == max_width,]

    Species Weight Length1 Length2 Length3 Height Width
127 Perch   1000   40.2    43.5    46      12.604 8.142

4. Знайти рибу з найбільшою площею тіла :)

In [17]:
max_s <- max(data$Width*data$Height)
data[data$Width*data$Height == max_s,]

   Species Weight Length1 Length2 Length3 Height  Width
33 Bream   925    36.2    39.5    45.3    18.7542 6.7497

5. Знайти зображення цих риб і вставити у ноутбук.