# Лабораторна робота №1. Читання та маніпулювання даними з використанням dplyr

---

Виконав: Юрій Клебан, ЕК-4

## Завдання 1

In [8]:
library(dplyr)
library(lubridate)

In [14]:
data <- read.csv("data/bikes.csv")
data |> head()

             datetime season holiday workingday weather temp  atemp humidity
1 2011-01-01 00:00:00      1       0          0       1 9.84 14.395       81
2 2011-01-01 01:00:00      1       0          0       1 9.02 13.635       80
3 2011-01-01 02:00:00      1       0          0       1 9.02 13.635       80
4 2011-01-01 03:00:00      1       0          0       1 9.84 14.395       75
5 2011-01-01 04:00:00      1       0          0       1 9.84 14.395       75
6 2011-01-01 05:00:00      1       0          0       2 9.84 12.880       75
  windspeed casual registered count
1    0.0000      3         13    16
2    0.0000      8         32    40
3    0.0000      5         27    32
4    0.0000      3         10    13
5    0.0000      0          1     1
6    6.0032      0          1     1

In [ ]:
#data$datetime <- ymd_hms(data$datetime)

### Опис поля `datetime`

In [18]:
cat("datetime: ", class(data$datetime), "\n")
cat("min: ", min(data$datetime), "\n")
cat("max: ", max(data$datetime), "\n")

datetime:  character
min:  2011-01-01 00:00:00
max:  2012-12-19 23:00:00

### Опис поля `holiday`

In [19]:
table(data$holiday)

    0     1
10575   311