# Data Manipulation

## `Dplyr`

In [ ]:
??dplyr

In [ ]:
#install.packages("tidyverse")

In [ ]:
library(tidyverse)

## Gapminder

In [ ]:
#install.packages("gapminder")

In [ ]:
library(gapminder)
data(gapminder)

In [ ]:
?gapminder

In [ ]:
str(gapminder)

In [9]:
head(gapminder)

# A tibble: 6 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.
5 Afghanistan Asia       1972    36.1 13079460      740.
6 Afghanistan Asia       1977    38.4 14880372      786.

In [10]:
tail(gapminder)

# A tibble: 6 × 6
  country  continent  year lifeExp      pop gdpPercap
  <fct>    <fct>     <int>   <dbl>    <int>     <dbl>
1 Zimbabwe Africa     1982    60.4  7636524      789.
2 Zimbabwe Africa     1987    62.4  9216418      706.
3 Zimbabwe Africa     1992    60.4 10704340      693.
4 Zimbabwe Africa     1997    46.8 11404948      792.
5 Zimbabwe Africa     2002    40.0 11926563      672.
6 Zimbabwe Africa     2007    43.5 12311143      470.

In [11]:
austria <- filter(gapminder, country == "Austria")
austria

# A tibble: 12 × 6
   country continent  year lifeExp     pop gdpPercap
   <fct>   <fct>     <int>   <dbl>   <int>     <dbl>
 1 Austria Europe     1952    66.8 6927772     6137.
 2 Austria Europe     1957    67.5 6965860     8843.
 3 Austria Europe     1962    69.5 7129864    10751.
 4 Austria Europe     1967    70.1 7376998    12835.
 5 Austria Europe     1972    70.6 7544201    16662.
 6 Austria Europe     1977    72.2 7568430    19749.
 7 Austria Europe     1982    73.2 7574613    21597.
 8 Austria Europe     1987    74.9 7578903    23688.
 9 Austria Europe     1992    76.0 7914969    27042.
10 Austria Europe     1997    77.5 8069876    29096.
11 Austria Europe     2002    79.0 8148312    32418.
12 Austria Europe     2007    79.8 8199783    36126.

In [12]:
filter(gapminder, lifeExp < 33)

# A tibble: 17 × 6
   country       continent  year lifeExp      pop gdpPercap
   <fct>         <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan   Asia       1952    28.8  8425333      779.
 2 Afghanistan   Asia       1957    30.3  9240934      821.
 3 Afghanistan   Asia       1962    32.0 10267083      853.
 4 Angola        Africa     1952    30.0  4232095     3521.
 5 Angola        Africa     1957    32.0  4561361     3828.
 6 Burkina Faso  Africa     1952    32.0  4469979      543.
 7 Cambodia      Asia       1977    31.2  6978607      525.
 8 Gambia        Africa     1952    30     284320      485.
 9 Gambia        Africa     1957    32.1   323150      521.
10 Guinea-Bissau Africa     1952    32.5   580653      300.
11 Mozambique    Africa     1952    31.3  6446316      469.
12 Rwanda        Africa     1992    23.6  7290203      737.
13 Sierra Leone  Africa     1952    30.3  2143249      880.
14 Sierra Leone  Africa     1957    31.6  2295678     1004.
15 Sierra Leone  Africa     1962    32.8  2467895     1117.
16 Somalia       Africa     1952    33.0  2526994     1136.
17 Yemen, Rep.   Asia       1952    32.5  4963829      782.

In [13]:
filter(gapminder, country == "Austria", year > 1980 )

# A tibble: 6 × 6
  country continent  year lifeExp     pop gdpPercap
  <fct>   <fct>     <int>   <dbl>   <int>     <dbl>
1 Austria Europe     1982    73.2 7574613    21597.
2 Austria Europe     1987    74.9 7578903    23688.
3 Austria Europe     1992    76.0 7914969    27042.
4 Austria Europe     1997    77.5 8069876    29096.
5 Austria Europe     2002    79.0 8148312    32418.
6 Austria Europe     2007    79.8 8199783    36126.

In [14]:
filter(gapminder, year > 2000, country %in% c("Austria", "Belgium"))

# A tibble: 4 × 6
  country continent  year lifeExp      pop gdpPercap
  <fct>   <fct>     <int>   <dbl>    <int>     <dbl>
1 Austria Europe     2002    79.0  8148312    32418.
2 Austria Europe     2007    79.8  8199783    36126.
3 Belgium Europe     2002    78.3 10311970    30486.
4 Belgium Europe     2007    79.4 10392226    33693.

## Pipe

In [ ]:
%>% -> library(magritr)

In [ ]:
|>

In [15]:
head(gapminder)

# A tibble: 6 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.
5 Afghanistan Asia       1972    36.1 13079460      740.
6 Afghanistan Asia       1977    38.4 14880372      786.

In [17]:
gapminder |> head()

# A tibble: 6 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.
5 Afghanistan Asia       1972    36.1 13079460      740.
6 Afghanistan Asia       1977    38.4 14880372      786.

In [18]:
gapminder |> head(4)

# A tibble: 4 × 6
  country     continent  year lifeExp      pop gdpPercap
  <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
1 Afghanistan Asia       1952    28.8  8425333      779.
2 Afghanistan Asia       1957    30.3  9240934      821.
3 Afghanistan Asia       1962    32.0 10267083      853.
4 Afghanistan Asia       1967    34.0 11537966      836.

In [ ]:
austria <- filter(gapminder, country == "Austria")
austria

In [19]:
austria <- gapminder |> 
  filter(country == "Austria")
austria

# A tibble: 12 × 6
   country continent  year lifeExp     pop gdpPercap
   <fct>   <fct>     <int>   <dbl>   <int>     <dbl>
 1 Austria Europe     1952    66.8 6927772     6137.
 2 Austria Europe     1957    67.5 6965860     8843.
 3 Austria Europe     1962    69.5 7129864    10751.
 4 Austria Europe     1967    70.1 7376998    12835.
 5 Austria Europe     1972    70.6 7544201    16662.
 6 Austria Europe     1977    72.2 7568430    19749.
 7 Austria Europe     1982    73.2 7574613    21597.
 8 Austria Europe     1987    74.9 7578903    23688.
 9 Austria Europe     1992    76.0 7914969    27042.
10 Austria Europe     1997    77.5 8069876    29096.
11 Austria Europe     2002    79.0 8148312    32418.
12 Austria Europe     2007    79.8 8199783    36126.

## `select()`

In [20]:
gapminder |>
  select(year, country, pop)

# A tibble: 1,704 × 3
    year country          pop
   <int> <fct>          <int>
 1  1952 Afghanistan  8425333
 2  1957 Afghanistan  9240934
 3  1962 Afghanistan 10267083
 4  1967 Afghanistan 11537966
 5  1972 Afghanistan 13079460
 6  1977 Afghanistan 14880372
 7  1982 Afghanistan 12881816
 8  1987 Afghanistan 13867957
 9  1992 Afghanistan 16317921
10  1997 Afghanistan 22227415
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [22]:
# filter(select(filter(gapminder, country == "Austria"), year, country, pop), year > 1980)

In [21]:
austria <- gapminder |> 
  filter(country == "Austria") |>
  select(year, country, pop) |>
  filter(year > 1980)
austria

# A tibble: 6 × 3
   year country     pop
  <int> <fct>     <int>
1  1982 Austria 7574613
2  1987 Austria 7578903
3  1992 Austria 7914969
4  1997 Austria 8069876
5  2002 Austria 8148312
6  2007 Austria 8199783

In [23]:
gapminder |>
  select(c(1,3:4))

# A tibble: 1,704 × 3
   country      year lifeExp
   <fct>       <int>   <dbl>
 1 Afghanistan  1952    28.8
 2 Afghanistan  1957    30.3
 3 Afghanistan  1962    32.0
 4 Afghanistan  1967    34.0
 5 Afghanistan  1972    36.1
 6 Afghanistan  1977    38.4
 7 Afghanistan  1982    39.9
 8 Afghanistan  1987    40.8
 9 Afghanistan  1992    41.7
10 Afghanistan  1997    41.8
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [24]:
gapminder |>
  select(where(is.numeric))

# A tibble: 1,704 × 4
    year lifeExp      pop gdpPercap
   <int>   <dbl>    <int>     <dbl>
 1  1952    28.8  8425333      779.
 2  1957    30.3  9240934      821.
 3  1962    32.0 10267083      853.
 4  1967    34.0 11537966      836.
 5  1972    36.1 13079460      740.
 6  1977    38.4 14880372      786.
 7  1982    39.9 12881816      978.
 8  1987    40.8 13867957      852.
 9  1992    41.7 16317921      649.
10  1997    41.8 22227415      635.
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [25]:
gapminder |>
  select(!where(is.numeric)) |>
  distinct()

# A tibble: 142 × 2
   country     continent
   <fct>       <fct>
 1 Afghanistan Asia
 2 Albania     Europe
 3 Algeria     Africa
 4 Angola      Africa
 5 Argentina   Americas
 6 Australia   Oceania
 7 Austria     Europe
 8 Bahrain     Asia
 9 Bangladesh  Asia
10 Belgium     Europe
# ℹ 132 more rows
# ℹ Use `print(n = ...)` to see more rows

## random

In [30]:
# seed
gapminder |>
  sample_n(5)

# A tibble: 5 × 6
  country     continent  year lifeExp       pop gdpPercap
  <fct>       <fct>     <int>   <dbl>     <int>     <dbl>
1 El Salvador Americas   1972    58.2   3790903     4520.
2 Indonesia   Asia       1997    66.0 199278000     3119.
3 Switzerland Europe     1962    71.3   5666000    20431.
4 Pakistan    Asia       1957    45.6  46679944      747.
5 Guatemala   Americas   2007    70.3  12572928     5186.

In [35]:
gapminder |>
  sample_frac(0.1)

# A tibble: 170 × 6
   country          continent  year lifeExp      pop gdpPercap
   <fct>            <fct>     <int>   <dbl>    <int>     <dbl>
 1 Somalia          Africa     1957    35.0  2780415     1258.
 2 Ghana            Africa     1952    43.1  5581001      911.
 3 El Salvador      Americas   1987    63.2  4842194     4140.
 4 Zimbabwe         Africa     1977    57.7  6642107      686.
 5 Hong Kong, China Asia       2002    81.5  6762476    30209.
 6 Chad             Africa     1987    51.1  5498955      952.
 7 France           Europe     1957    68.9 44310863     8663.
 8 Oman             Asia       1957    40.1   561977     2243.
 9 Mauritius        Africa     2002    72.0  1200206     9022.
10 Korea, Dem. Rep. Asia       1967    59.9 12617009     2144.
# ℹ 160 more rows
# ℹ Use `print(n = ...)` to see more rows

## slice

In [36]:
gapminder |> slice(1:10)

# A tibble: 10 × 6
   country     continent  year lifeExp      pop gdpPercap
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.
 2 Afghanistan Asia       1957    30.3  9240934      821.
 3 Afghanistan Asia       1962    32.0 10267083      853.
 4 Afghanistan Asia       1967    34.0 11537966      836.
 5 Afghanistan Asia       1972    36.1 13079460      740.
 6 Afghanistan Asia       1977    38.4 14880372      786.
 7 Afghanistan Asia       1982    39.9 12881816      978.
 8 Afghanistan Asia       1987    40.8 13867957      852.
 9 Afghanistan Asia       1992    41.7 16317921      649.
10 Afghanistan Asia       1997    41.8 22227415      635.

In [37]:
gapminder |> slice_head(n = 10)

# A tibble: 10 × 6
   country     continent  year lifeExp      pop gdpPercap
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.
 2 Afghanistan Asia       1957    30.3  9240934      821.
 3 Afghanistan Asia       1962    32.0 10267083      853.
 4 Afghanistan Asia       1967    34.0 11537966      836.
 5 Afghanistan Asia       1972    36.1 13079460      740.
 6 Afghanistan Asia       1977    38.4 14880372      786.
 7 Afghanistan Asia       1982    39.9 12881816      978.
 8 Afghanistan Asia       1987    40.8 13867957      852.
 9 Afghanistan Asia       1992    41.7 16317921      649.
10 Afghanistan Asia       1997    41.8 22227415      635.

In [38]:
gapminder |> slice_tail(n = 10)

# A tibble: 10 × 6
   country  continent  year lifeExp      pop gdpPercap
   <fct>    <fct>     <int>   <dbl>    <int>     <dbl>
 1 Zimbabwe Africa     1962    52.4  4277736      527.
 2 Zimbabwe Africa     1967    54.0  4995432      570.
 3 Zimbabwe Africa     1972    55.6  5861135      799.
 4 Zimbabwe Africa     1977    57.7  6642107      686.
 5 Zimbabwe Africa     1982    60.4  7636524      789.
 6 Zimbabwe Africa     1987    62.4  9216418      706.
 7 Zimbabwe Africa     1992    60.4 10704340      693.
 8 Zimbabwe Africa     1997    46.8 11404948      792.
 9 Zimbabwe Africa     2002    40.0 11926563      672.
10 Zimbabwe Africa     2007    43.5 12311143      470.

In [39]:
gapminder |> filter(year == 2007) |> slice_tail(n = 10)

# A tibble: 10 × 6
   country            continent  year lifeExp       pop gdpPercap
   <fct>              <fct>     <int>   <dbl>     <int>     <dbl>
 1 Uganda             Africa     2007    51.5  29170398     1056.
 2 United Kingdom     Europe     2007    79.4  60776238    33203.
 3 United States      Americas   2007    78.2 301139947    42952.
 4 Uruguay            Americas   2007    76.4   3447496    10611.
 5 Venezuela          Americas   2007    73.7  26084662    11416.
 6 Vietnam            Asia       2007    74.2  85262356     2442.
 7 West Bank and Gaza Asia       2007    73.4   4018332     3025.
 8 Yemen, Rep.        Asia       2007    62.7  22211743     2281.
 9 Zambia             Africa     2007    42.4  11746035     1271.
10 Zimbabwe           Africa     2007    43.5  12311143      470.

In [44]:
gapminder |>
  slice_sample(n = 3)

# A tibble: 3 × 6
  country     continent  year lifeExp     pop gdpPercap
  <fct>       <fct>     <int>   <dbl>   <int>     <dbl>
1 Congo, Rep. Africa     1967    52.0 1179760     2678.
2 Puerto Rico Americas   1987    74.6 3444468    12281.
3 Mali        Africa     1977    41.7 6491649      686.

In [45]:
gapminder |> slice_max(lifeExp, n = 5)

# A tibble: 5 × 6
  country          continent  year lifeExp       pop gdpPercap
  <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
1 Japan            Asia       2007    82.6 127467972    31656.
2 Hong Kong, China Asia       2007    82.2   6980412    39725.
3 Japan            Asia       2002    82   127065841    28605.
4 Iceland          Europe     2007    81.8    301931    36181.
5 Switzerland      Europe     2007    81.7   7554661    37506.

In [46]:
gapminder |> slice_min(lifeExp, n = 5)

# A tibble: 5 × 6
  country      continent  year lifeExp     pop gdpPercap
  <fct>        <fct>     <int>   <dbl>   <int>     <dbl>
1 Rwanda       Africa     1992    23.6 7290203      737.
2 Afghanistan  Asia       1952    28.8 8425333      779.
3 Gambia       Africa     1952    30    284320      485.
4 Angola       Africa     1952    30.0 4232095     3521.
5 Sierra Leone Africa     1952    30.3 2143249      880.

## arrange

In [47]:
data2002 <- gapminder |>
  filter(year == 2002) |>
  top_n(10, lifeExp)
data2002

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Australia        Oceania    2002    80.4  19546792    30688.
 2 Canada           Americas   2002    79.8  31902268    33329.
 3 Hong Kong, China Asia       2002    81.5   6762476    30209.
 4 Iceland          Europe     2002    80.5    288030    31163.
 5 Israel           Asia       2002    79.7   6029529    21906.
 6 Italy            Europe     2002    80.2  57926999    27968.
 7 Japan            Asia       2002    82   127065841    28605.
 8 Spain            Europe     2002    79.8  40152517    24835.
 9 Sweden           Europe     2002    80.0   8954175    29342.
10 Switzerland      Europe     2002    80.6   7361757    34481.

In [48]:
data2002 |>
  arrange(lifeExp)

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Israel           Asia       2002    79.7   6029529    21906.
 2 Canada           Americas   2002    79.8  31902268    33329.
 3 Spain            Europe     2002    79.8  40152517    24835.
 4 Sweden           Europe     2002    80.0   8954175    29342.
 5 Italy            Europe     2002    80.2  57926999    27968.
 6 Australia        Oceania    2002    80.4  19546792    30688.
 7 Iceland          Europe     2002    80.5    288030    31163.
 8 Switzerland      Europe     2002    80.6   7361757    34481.
 9 Hong Kong, China Asia       2002    81.5   6762476    30209.
10 Japan            Asia       2002    82   127065841    28605.

In [49]:
data2002 |>
  arrange(desc(lifeExp))

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Japan            Asia       2002    82   127065841    28605.
 2 Hong Kong, China Asia       2002    81.5   6762476    30209.
 3 Switzerland      Europe     2002    80.6   7361757    34481.
 4 Iceland          Europe     2002    80.5    288030    31163.
 5 Australia        Oceania    2002    80.4  19546792    30688.
 6 Italy            Europe     2002    80.2  57926999    27968.
 7 Sweden           Europe     2002    80.0   8954175    29342.
 8 Spain            Europe     2002    79.8  40152517    24835.
 9 Canada           Americas   2002    79.8  31902268    33329.
10 Israel           Asia       2002    79.7   6029529    21906.

In [50]:
data2002 |>
  arrange(pop, lifeExp)

# A tibble: 10 × 6
   country          continent  year lifeExp       pop gdpPercap
   <fct>            <fct>     <int>   <dbl>     <int>     <dbl>
 1 Iceland          Europe     2002    80.5    288030    31163.
 2 Israel           Asia       2002    79.7   6029529    21906.
 3 Hong Kong, China Asia       2002    81.5   6762476    30209.
 4 Switzerland      Europe     2002    80.6   7361757    34481.
 5 Sweden           Europe     2002    80.0   8954175    29342.
 6 Australia        Oceania    2002    80.4  19546792    30688.
 7 Canada           Americas   2002    79.8  31902268    33329.
 8 Spain            Europe     2002    79.8  40152517    24835.
 9 Italy            Europe     2002    80.2  57926999    27968.
10 Japan            Asia       2002    82   127065841    28605.

## matate

In [51]:
gapminder |> 
  mutate(gdpTotal = gdpPercap + pop) |>
  head(10)

# A tibble: 10 × 7
   country     continent  year lifeExp      pop gdpPercap  gdpTotal
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.  8426112.
 2 Afghanistan Asia       1957    30.3  9240934      821.  9241755.
 3 Afghanistan Asia       1962    32.0 10267083      853. 10267936.
 4 Afghanistan Asia       1967    34.0 11537966      836. 11538802.
 5 Afghanistan Asia       1972    36.1 13079460      740. 13080200.
 6 Afghanistan Asia       1977    38.4 14880372      786. 14881158.
 7 Afghanistan Asia       1982    39.9 12881816      978. 12882794.
 8 Afghanistan Asia       1987    40.8 13867957      852. 13868809.
 9 Afghanistan Asia       1992    41.7 16317921      649. 16318570.
10 Afghanistan Asia       1997    41.8 22227415      635. 22228050.

In [52]:
gapminder |>
    transmute(gdpTotal = gdpPercap * pop) |>
    head(10)

# A tibble: 10 × 1
       gdpTotal
          <dbl>
 1  6567086330.
 2  7585448670.
 3  8758855797.
 4  9648014150.
 5  9678553274.
 6 11697659231.
 7 12598563401.
 8 11820990309.
 9 10595901589.
10 14121995875.

In [53]:
gapminder |>
  mutate(gdpTotal = gdpPercap * pop,
        countryU = toupper(country),
        lifeExpR = round(lifeExp)) |>
          head(10)

# A tibble: 10 × 9
   country   continent  year lifeExp    pop gdpPercap gdpTotal countryU lifeExpR
   <fct>     <fct>     <int>   <dbl>  <int>     <dbl>    <dbl> <chr>       <dbl>
 1 Afghanis… Asia       1952    28.8 8.43e6      779.  6.57e 9 AFGHANI…       29
 2 Afghanis… Asia       1957    30.3 9.24e6      821.  7.59e 9 AFGHANI…       30
 3 Afghanis… Asia       1962    32.0 1.03e7      853.  8.76e 9 AFGHANI…       32
 4 Afghanis… Asia       1967    34.0 1.15e7      836.  9.65e 9 AFGHANI…       34
 5 Afghanis… Asia       1972    36.1 1.31e7      740.  9.68e 9 AFGHANI…       36
 6 Afghanis… Asia       1977    38.4 1.49e7      786.  1.17e10 AFGHANI…       38
 7 Afghanis… Asia       1982    39.9 1.29e7      978.  1.26e10 AFGHANI…       40
 8 Afghanis… Asia       1987    40.8 1.39e7      852.  1.18e10 AFGHANI…       41
 9 Afghanis… Asia       1992    41.7 1.63e7      649.  1.06e10 AFGHANI…       42
10 Afghanis… Asia       1997    41.8 2.22e7      635.  1.41e10 AFGHANI…       42

In [55]:
gapminder |>
  mutate(continent = as.character(continent),
        continent = ifelse(continent == "Europe", "EU", continent)) |>
        filter(continent == "EU") |>
        head(20)

# A tibble: 20 × 6
   country continent  year lifeExp     pop gdpPercap
   <fct>   <chr>     <int>   <dbl>   <int>     <dbl>
 1 Albania EU         1952    55.2 1282697     1601.
 2 Albania EU         1957    59.3 1476505     1942.
 3 Albania EU         1962    64.8 1728137     2313.
 4 Albania EU         1967    66.2 1984060     2760.
 5 Albania EU         1972    67.7 2263554     3313.
 6 Albania EU         1977    68.9 2509048     3533.
 7 Albania EU         1982    70.4 2780097     3631.
 8 Albania EU         1987    72   3075321     3739.
 9 Albania EU         1992    71.6 3326498     2497.
10 Albania EU         1997    73.0 3428038     3193.
11 Albania EU         2002    75.7 3508512     4604.
12 Albania EU         2007    76.4 3600523     5937.
13 Austria EU         1952    66.8 6927772     6137.
14 Austria EU         1957    67.5 6965860     8843.
15 Austria EU         1962    69.5 7129864    10751.
16 Austria EU         1967    70.1 7376998    12835.
17 Austria EU         1972    70.6 7544201    16662.
18 Austria EU         1977    72.2 7568430    19749.
19 Austria EU         1982    73.2 7574613    21597.
20 Austria EU         1987    74.9 7578903    23688.

## rename

In [56]:
gapminder

# A tibble: 1,704 × 6
   country     continent  year lifeExp      pop gdpPercap
   <fct>       <fct>     <int>   <dbl>    <int>     <dbl>
 1 Afghanistan Asia       1952    28.8  8425333      779.
 2 Afghanistan Asia       1957    30.3  9240934      821.
 3 Afghanistan Asia       1962    32.0 10267083      853.
 4 Afghanistan Asia       1967    34.0 11537966      836.
 5 Afghanistan Asia       1972    36.1 13079460      740.
 6 Afghanistan Asia       1977    38.4 14880372      786.
 7 Afghanistan Asia       1982    39.9 12881816      978.
 8 Afghanistan Asia       1987    40.8 13867957      852.
 9 Afghanistan Asia       1992    41.7 16317921      649.
10 Afghanistan Asia       1997    41.8 22227415      635.
# ℹ 1,694 more rows
# ℹ Use `print(n = ...)` to see more rows

In [57]:
gapminder |>
  rename(population = pop) |>
  head()

# A tibble: 6 × 6
  country     continent  year lifeExp population gdpPercap
  <fct>       <fct>     <int>   <dbl>      <int>     <dbl>
1 Afghanistan Asia       1952    28.8    8425333      779.
2 Afghanistan Asia       1957    30.3    9240934      821.
3 Afghanistan Asia       1962    32.0   10267083      853.
4 Afghanistan Asia       1967    34.0   11537966      836.
5 Afghanistan Asia       1972    36.1   13079460      740.
6 Afghanistan Asia       1977    38.4   14880372      786.

## grouping

In [ ]:
## for 2002 avg lifeExp by continent + calculate countries count

In [58]:
gapminder |>
  filter(year == 2002) |>
  group_by(continent) |>
  summarise(
    lifeExp2002 = mean(lifeExp),
    countriesCount = n()
  )

# A tibble: 5 × 3
  continent lifeExp2002 countriesCount
  <fct>           <dbl>          <int>
1 Africa           53.3             52
2 Americas         72.4             25
3 Asia             69.2             33
4 Europe           76.7             30
5 Oceania          79.7              2

In [59]:
gapminder |>
  filter(year == 2002) |>
  group_by(continent) |>
  summarise(
    lifeExp2002 = mean(lifeExp),
    countriesCount = n(),
    totalPop = sum(pop)
  )

# A tibble: 5 × 4
  continent lifeExp2002 countriesCount   totalPop
  <fct>           <dbl>          <int>      <dbl>
1 Africa           53.3             52  833723916
2 Americas         72.4             25  849772762
3 Asia             69.2             33 3601802203
4 Europe           76.7             30  578223869
5 Oceania          79.7              2   23454829

In [60]:
data = gapminder |>
  filter(year == 2002) |>
  group_by(continent) |>
  summarise(
    lifeExp2002 = mean(lifeExp),
    countriesCount = n(),
    totalPop = sum(pop)) |>
    mutate(percPop = round(100*totalPop/sum(gapminder |> filter(year == 2002) |> select(pop) |> sum()), 2))

In [62]:
data

# A tibble: 5 × 5
  continent lifeExp2002 countriesCount   totalPop percPop
  <fct>           <dbl>          <int>      <dbl>   <dbl>
1 Africa           53.3             52  833723916   14.2
2 Americas         72.4             25  849772762   14.4
3 Asia             69.2             33 3601802203   61.2
4 Europe           76.7             30  578223869    9.82
5 Oceania          79.7              2   23454829    0.4

In [61]:
data |> select(percPop) |> sum()

[1] 99.99

## binding

In [63]:
d2002 <- gapminder |>
            filter(year == 2002) %>% 
            group_by(continent, year) %>% 
            summarise(
                lifeExpAvg = mean(lifeExp),
                countriesCount = n()
            )
head(d2002)

`summarise()` has grouped output by 'continent'. You can override using the
`.groups` argument.

# A tibble: 5 × 4
# Groups:   continent [5]
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2002       53.3             52
2 Americas   2002       72.4             25
3 Asia       2002       69.2             33
4 Europe     2002       76.7             30
5 Oceania    2002       79.7              2

In [64]:
d2007 <- gapminder |>
            filter(year == 2007) %>% 
            group_by(continent, year) %>% 
            summarise(
                lifeExpAvg = mean(lifeExp),
                countriesCount = n()
            )
head(d2007)

`summarise()` has grouped output by 'continent'. You can override using the
`.groups` argument.

# A tibble: 5 × 4
# Groups:   continent [5]
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2007       54.8             52
2 Americas   2007       73.6             25
3 Asia       2007       70.7             33
4 Europe     2007       77.6             30
5 Oceania    2007       80.7              2

In [65]:
d2002 |> bind_rows(d2007)

# A tibble: 10 × 4
# Groups:   continent [5]
   continent  year lifeExpAvg countriesCount
   <fct>     <int>      <dbl>          <int>
 1 Africa     2002       53.3             52
 2 Americas   2002       72.4             25
 3 Asia       2002       69.2             33
 4 Europe     2002       76.7             30
 5 Oceania    2002       79.7              2
 6 Africa     2007       54.8             52
 7 Americas   2007       73.6             25
 8 Asia       2007       70.7             33
 9 Europe     2007       77.6             30
10 Oceania    2007       80.7              2

In [66]:
head(d2002)

# A tibble: 5 × 4
# Groups:   continent [5]
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2002       53.3             52
2 Americas   2002       72.4             25
3 Asia       2002       69.2             33
4 Europe     2002       76.7             30
5 Oceania    2002       79.7              2

In [79]:
d2002_new <- gapminder |>
  filter(year == 2002) %>% 
        group_by(continent, year) %>% 
        summarise(
            population = sum(pop),
        )
d2002_new

`summarise()` has grouped output by 'continent'. You can override using the
`.groups` argument.

# A tibble: 5 × 3
# Groups:   continent [5]
  continent  year population
  <fct>     <int>      <dbl>
1 Africa     2002  833723916
2 Americas   2002  849772762
3 Asia       2002 3601802203
4 Europe     2002  578223869
5 Oceania    2002   23454829

In [76]:
d2002_new <- d2002_new |> select(-c(continent, year))

: Error in `select()`:
! Can't select columns that don't exist.
✖ Column `year` doesn't exist.

In [74]:
d2002_new

# A tibble: 5 × 2
# Groups:   continent [5]
  continent population
  <fct>          <dbl>
1 Africa     833723916
2 Americas   849772762
3 Asia      3601802203
4 Europe     578223869
5 Oceania     23454829

In [78]:
d2002 |> bind_cols(d2002_new)

New names:
• `continent` -> `continent...1`
• `continent` -> `continent...5`

# A tibble: 5 × 6
  continent...1  year lifeExpAvg countriesCount continent...5 population
  <fct>         <int>      <dbl>          <int> <fct>              <dbl>
1 Africa         2002       53.3             52 Africa         833723916
2 Americas       2002       72.4             25 Americas       849772762
3 Asia           2002       69.2             33 Asia          3601802203
4 Europe         2002       76.7             30 Europe         578223869
5 Oceania        2002       79.7              2 Oceania         23454829

In [80]:
d2002_new <- d2002_new |>
  arrange(population)
d2002_new

# A tibble: 5 × 3
# Groups:   continent [5]
  continent  year population
  <fct>     <int>      <dbl>
1 Oceania    2002   23454829
2 Europe     2002  578223869
3 Africa     2002  833723916
4 Americas   2002  849772762
5 Asia       2002 3601802203

In [81]:
d2002 |> bind_cols(d2002_new |> dplyr::select(-continent, -year)) |>
  select(-continent...5) |>
  rename(continent = continent...1)

Adding missing grouping variables: `continent`
New names:
• `continent` -> `continent...1`
• `continent` -> `continent...5`

# A tibble: 5 × 5
  continent  year lifeExpAvg countriesCount population
  <fct>     <int>      <dbl>          <int>      <dbl>
1 Africa     2002       53.3             52   23454829
2 Americas   2002       72.4             25  578223869
3 Asia       2002       69.2             33  833723916
4 Europe     2002       76.7             30  849772762
5 Oceania    2002       79.7              2 3601802203

## join

In [82]:
d2002 <- gapminder %>%
            filter(year == 2002) %>% # year
            group_by(continent, year) %>% # grouping condition
            summarise(
                lifeExpAvg = mean(lifeExp),
                countriesCount = n(), # n() count of rows in group 
                .groups = 'drop'
            )
d2002 |> head()

# A tibble: 5 × 4
  continent  year lifeExpAvg countriesCount
  <fct>     <int>      <dbl>          <int>
1 Africa     2002       53.3             52
2 Americas   2002       72.4             25
3 Asia       2002       69.2             33
4 Europe     2002       76.7             30
5 Oceania    2002       79.7              2

In [83]:
grouped_data2002pop <- gapminder %>%
    filter(year == 2002) %>% 
    group_by(continent, year) %>% 
    summarise(totalPop = sum(pop)) |>
    arrange(totalPop) |> select(-year)

grouped_data2002pop |> head()

`summarise()` has grouped output by 'continent'. You can override using the
`.groups` argument.

# A tibble: 5 × 2
# Groups:   continent [5]
  continent   totalPop
  <fct>          <dbl>
1 Oceania     23454829
2 Europe     578223869
3 Africa     833723916
4 Americas   849772762
5 Asia      3601802203

In [84]:
joined_table <- d2002 |>
  left_join(grouped_data2002pop, by = "continent")
joined_table

# A tibble: 5 × 5
  continent  year lifeExpAvg countriesCount   totalPop
  <fct>     <int>      <dbl>          <int>      <dbl>
1 Africa     2002       53.3             52  833723916
2 Americas   2002       72.4             25  849772762
3 Asia       2002       69.2             33 3601802203
4 Europe     2002       76.7             30  578223869
5 Oceania    2002       79.7              2   23454829

## wide-to-long tables

In [85]:
library(tidyr)

In [93]:
not_good_data <- data.frame(Name = c("Nick", "Jake", "Anna", "Jane", "Dina"),
                           q1_2021 = c(12442, 22131, 21343, 22111, 14123),
                           q2_2021 = c(13442, 22871, 20343, 22222, 14456),
                           q3_2021 = c(15482, 22031, 22456, 22444, 14533),
                           q4_2021 = c(14511, 20031, 21741, 22333, 14511),
                           q1_2022 = c(12442, 22131, 21343, 22111, 14123),
                           q2_2022 = c(13442, 22871, 20343, 22222, 14456),
                           q3_2022 = c(15482, 22031, 22356, 22444, 14533),
                           q4_2022 = c(14566, 20031, 21741, 22333, 14511))
not_good_data

  Name q1_2021 q2_2021 q3_2021 q4_2021 q1_2022 q2_2022 q3_2022 q4_2022
1 Nick   12442   13442   15482   14511   12442   13442   15482   14566
2 Jake   22131   22871   22031   20031   22131   22871   22031   20031
3 Anna   21343   20343   22456   21741   21343   20343   22356   21741
4 Jane   22111   22222   22444   22333   22111   22222   22444   22333
5 Dina   14123   14456   14533   14511   14123   14456   14533   14511

In [94]:
better_data <- not_good_data %>%
                gather(quater, salary, 2:9)
                # gather(quater, salary, q1_2021:q4_2021) possible code too
better_data

   Name  quater salary
1  Nick q1_2021  12442
2  Jake q1_2021  22131
3  Anna q1_2021  21343
4  Jane q1_2021  22111
5  Dina q1_2021  14123
6  Nick q2_2021  13442
7  Jake q2_2021  22871
8  Anna q2_2021  20343
9  Jane q2_2021  22222
10 Dina q2_2021  14456
11 Nick q3_2021  15482
12 Jake q3_2021  22031
13 Anna q3_2021  22456
14 Jane q3_2021  22444
15 Dina q3_2021  14533
16 Nick q4_2021  14511
17 Jake q4_2021  20031
18 Anna q4_2021  21741
19 Jane q4_2021  22333
20 Dina q4_2021  14511
21 Nick q1_2022  12442
22 Jake q1_2022  22131
23 Anna q1_2022  21343
24 Jane q1_2022  22111
25 Dina q1_2022  14123
26 Nick q2_2022  13442
27 Jake q2_2022  22871
28 Anna q2_2022  20343
29 Jane q2_2022  22222
30 Dina q2_2022  14456
31 Nick q3_2022  15482
32 Jake q3_2022  22031
33 Anna q3_2022  22356
34 Jane q3_2022  22444
35 Dina q3_2022  14533
36 Nick q4_2022  14566
37 Jake q4_2022  20031
38 Anna q4_2022  21741
39 Jane q4_2022  22333
40 Dina q4_2022  14511

In [95]:
better_data  |>
  group_by(Name) |>
  summarise(sum = sum(salary))

# A tibble: 5 × 2
  Name     sum
  <chr>  <dbl>
1 Anna  171666
2 Dina  115246
3 Jake  174128
4 Jane  178220
5 Nick  111809

In [96]:
better_data %>%
    separate(quater, c("quater", "year"), sep = "_")

   Name quater year salary
1  Nick     q1 2021  12442
2  Jake     q1 2021  22131
3  Anna     q1 2021  21343
4  Jane     q1 2021  22111
5  Dina     q1 2021  14123
6  Nick     q2 2021  13442
7  Jake     q2 2021  22871
8  Anna     q2 2021  20343
9  Jane     q2 2021  22222
10 Dina     q2 2021  14456
11 Nick     q3 2021  15482
12 Jake     q3 2021  22031
13 Anna     q3 2021  22456
14 Jane     q3 2021  22444
15 Dina     q3 2021  14533
16 Nick     q4 2021  14511
17 Jake     q4 2021  20031
18 Anna     q4 2021  21741
19 Jane     q4 2021  22333
20 Dina     q4 2021  14511
21 Nick     q1 2022  12442
22 Jake     q1 2022  22131
23 Anna     q1 2022  21343
24 Jane     q1 2022  22111
25 Dina     q1 2022  14123
26 Nick     q2 2022  13442
27 Jake     q2 2022  22871
28 Anna     q2 2022  20343
29 Jane     q2 2022  22222
30 Dina     q2 2022  14456
31 Nick     q3 2022  15482
32 Jake     q3 2022  22031
33 Anna     q3 2022  22356
34 Jane     q3 2022  22444
35 Dina     q3 2022  14533
36 Nick     q4 2022  14566
37 Jake     q4 2022  20031
38 Anna     q4 2022  21741
39 Jane     q4 2022  22333
40 Dina     q4 2022  14511

In [97]:
best_data <- better_data %>%
    separate(quater, c("quater", "year"), sep = "_") %>% 
    mutate(year = as.integer(year), 
           quater = substr(better_data$quater, 2,2), 
           quater = as.integer(quater), 
          )
best_data

   Name quater year salary
1  Nick      1 2021  12442
2  Jake      1 2021  22131
3  Anna      1 2021  21343
4  Jane      1 2021  22111
5  Dina      1 2021  14123
6  Nick      2 2021  13442
7  Jake      2 2021  22871
8  Anna      2 2021  20343
9  Jane      2 2021  22222
10 Dina      2 2021  14456
11 Nick      3 2021  15482
12 Jake      3 2021  22031
13 Anna      3 2021  22456
14 Jane      3 2021  22444
15 Dina      3 2021  14533
16 Nick      4 2021  14511
17 Jake      4 2021  20031
18 Anna      4 2021  21741
19 Jane      4 2021  22333
20 Dina      4 2021  14511
21 Nick      1 2022  12442
22 Jake      1 2022  22131
23 Anna      1 2022  21343
24 Jane      1 2022  22111
25 Dina      1 2022  14123
26 Nick      2 2022  13442
27 Jake      2 2022  22871
28 Anna      2 2022  20343
29 Jane      2 2022  22222
30 Dina      2 2022  14456
31 Nick      3 2022  15482
32 Jake      3 2022  22031
33 Anna      3 2022  22356
34 Jane      3 2022  22444
35 Dina      3 2022  14533
36 Nick      4 2022  14566
37 Jake      4 2022  20031
38 Anna      4 2022  21741
39 Jane      4 2022  22333
40 Dina      4 2022  14511

In [98]:
united_data <- best_data %>%
                unite(Qt, quater, year, sep = "#", remove = F)
united_data

   Name     Qt quater year salary
1  Nick 1#2021      1 2021  12442
2  Jake 1#2021      1 2021  22131
3  Anna 1#2021      1 2021  21343
4  Jane 1#2021      1 2021  22111
5  Dina 1#2021      1 2021  14123
6  Nick 2#2021      2 2021  13442
7  Jake 2#2021      2 2021  22871
8  Anna 2#2021      2 2021  20343
9  Jane 2#2021      2 2021  22222
10 Dina 2#2021      2 2021  14456
11 Nick 3#2021      3 2021  15482
12 Jake 3#2021      3 2021  22031
13 Anna 3#2021      3 2021  22456
14 Jane 3#2021      3 2021  22444
15 Dina 3#2021      3 2021  14533
16 Nick 4#2021      4 2021  14511
17 Jake 4#2021      4 2021  20031
18 Anna 4#2021      4 2021  21741
19 Jane 4#2021      4 2021  22333
20 Dina 4#2021      4 2021  14511
21 Nick 1#2022      1 2022  12442
22 Jake 1#2022      1 2022  22131
23 Anna 1#2022      1 2022  21343
24 Jane 1#2022      1 2022  22111
25 Dina 1#2022      1 2022  14123
26 Nick 2#2022      2 2022  13442
27 Jake 2#2022      2 2022  22871
28 Anna 2#2022      2 2022  20343
29 Jane 2#2022      2 2022  22222
30 Dina 2#2022      2 2022  14456
31 Nick 3#2022      3 2022  15482
32 Jake 3#2022      3 2022  22031
33 Anna 3#2022      3 2022  22356
34 Jane 3#2022      3 2022  22444
35 Dina 3#2022      3 2022  14533
36 Nick 4#2022      4 2022  14566
37 Jake 4#2022      4 2022  20031
38 Anna 4#2022      4 2022  21741
39 Jane 4#2022      4 2022  22333
40 Dina 4#2022      4 2022  14511

In [99]:
united_data <- best_data %>%
                unite(Qt, quater, year, sep = "#")
united_data

   Name     Qt salary
1  Nick 1#2021  12442
2  Jake 1#2021  22131
3  Anna 1#2021  21343
4  Jane 1#2021  22111
5  Dina 1#2021  14123
6  Nick 2#2021  13442
7  Jake 2#2021  22871
8  Anna 2#2021  20343
9  Jane 2#2021  22222
10 Dina 2#2021  14456
11 Nick 3#2021  15482
12 Jake 3#2021  22031
13 Anna 3#2021  22456
14 Jane 3#2021  22444
15 Dina 3#2021  14533
16 Nick 4#2021  14511
17 Jake 4#2021  20031
18 Anna 4#2021  21741
19 Jane 4#2021  22333
20 Dina 4#2021  14511
21 Nick 1#2022  12442
22 Jake 1#2022  22131
23 Anna 1#2022  21343
24 Jane 1#2022  22111
25 Dina 1#2022  14123
26 Nick 2#2022  13442
27 Jake 2#2022  22871
28 Anna 2#2022  20343
29 Jane 2#2022  22222
30 Dina 2#2022  14456
31 Nick 3#2022  15482
32 Jake 3#2022  22031
33 Anna 3#2022  22356
34 Jane 3#2022  22444
35 Dina 3#2022  14533
36 Nick 4#2022  14566
37 Jake 4#2022  20031
38 Anna 4#2022  21741
39 Jane 4#2022  22333
40 Dina 4#2022  14511

In [100]:
not_good_data2 <- united_data %>%
                    spread(Qt, salary)
not_good_data2

  Name 1#2021 1#2022 2#2021 2#2022 3#2021 3#2022 4#2021 4#2022
1 Anna  21343  21343  20343  20343  22456  22356  21741  21741
2 Dina  14123  14123  14456  14456  14533  14533  14511  14511
3 Jake  22131  22131  22871  22871  22031  22031  20031  20031
4 Jane  22111  22111  22222  22222  22444  22444  22333  22333
5 Nick  12442  12442  13442  13442  15482  15482  14511  14566

In [103]:
data <- gapminder |> 
  select(country, lifeExp, year) |>
  spread(year, lifeExp)

In [104]:
data

# A tibble: 142 × 13
   country `1952` `1957` `1962` `1967` `1972` `1977` `1982` `1987` `1992` `1997`
   <fct>    <dbl>  <dbl>  <dbl>  <dbl>  <dbl>  <dbl>  <dbl>  <dbl>  <dbl>  <dbl>
 1 Afghan…   28.8   30.3   32.0   34.0   36.1   38.4   39.9   40.8   41.7   41.8
 2 Albania   55.2   59.3   64.8   66.2   67.7   68.9   70.4   72     71.6   73.0
 3 Algeria   43.1   45.7   48.3   51.4   54.5   58.0   61.4   65.8   67.7   69.2
 4 Angola    30.0   32.0   34     36.0   37.9   39.5   39.9   39.9   40.6   41.0
 5 Argent…   62.5   64.4   65.1   65.6   67.1   68.5   69.9   70.8   71.9   73.3
 6 Austra…   69.1   70.3   70.9   71.1   71.9   73.5   74.7   76.3   77.6   78.8
 7 Austria   66.8   67.5   69.5   70.1   70.6   72.2   73.2   74.9   76.0   77.5
 8 Bahrain   50.9   53.8   56.9   59.9   63.3   65.6   69.1   70.8   72.6   73.9
 9 Bangla…   37.5   39.3   41.2   43.5   45.3   46.9   50.0   52.8   56.0   59.4
10 Belgium   68     69.2   70.2   70.9   71.4   72.8   73.9   75.4   76.5   77.5
# ℹ 132 more rows
# ℹ 2 more variables: `2002` <dbl>, `2007` <dbl>
# ℹ Use `print(n = ...)` to see more rows

In [105]:
library(xlsx)

In [107]:
write.xlsx(data, "data/wide-gapminder.xlsx")